body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

.header {
  background: #1e88e5;
  color: white;
  padding: 15px;
  text-align: center;
}

.header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

.header nav a.active {
  text-decoration: underline;
  text-align: right;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.about-text {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.card ul {
  padding-left: 20px;
}

.upi {
  font-size: 16px;
  margin-bottom: 10px;
}

.qr {
  width: 200px;
  height: auto;
  margin: 15px auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.qr-img {
  max-width: 260px;
  width: 100%;
  height: auto;
  margin: 10px auto;
  display: block;
}
.pay-btn {
  display: inline-block;
  background: #2e7d32;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.whatsapp-btn {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
footer {
  background: #e53935;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 30px;
}
.visitor-box{
  max-width:280px;
  margin:25px auto;
  padding:12px;
  text-align:center;
  background:#ffffff;
  border-radius:10px;
  font-size:16px;
  font-weight:600;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
