body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

.header {
  background: #2f5bea;
  color: white;
  text-align: center;
  padding: 20px;
}

.header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 30px;
  text-align: center;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px;
  background: #2f5bea;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.services {
  text-align: center;
  padding: 20px;
}

.card {
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
}

.payment {
  text-align: center;
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.payment img {
  width: 200px;
  margin: 15px;
}

.pay {
  background: green;
}

.whatsapp {
  background: #25D366;
}

footer {
  background: #e53935;
  color: white;
  text-align: center;
  padding: 10px;
}
